<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/results.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="icon" type="x-icon" href="images/favicon.png">
    <style>@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');</style>
    <title>Ceres</title>
</head>
<body>
    <nav id="sidebar" class="close">
        <ul>
            <li>
                <span class="logo">Ceres</span>
                <button onclick=toggleSidebar() id="toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
                </button>
            </li>
            <li>
                <a href="/ceres">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"/></svg>
                <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/savedRecipes">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"><path d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z"></path></svg>
                    <span>Recipes</span>
                    </a>
            </li>
            <li>
                <a href="/pantry">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"><path d="M120-640h720v360q0 50-35 85t-85 35H240q-50 0-85-35t-35-85v-360Zm80 80v280q0 17 11.5 28.5T240-240h480q17 0 28.5-11.5T760-280v-280H200Zm-80-120v-80h240v-40q0-17 11.5-28.5T400-840h160q17 0 28.5 11.5T600-800v40h240v80H120Zm360 280Z"/></svg>
                    <span>Pantry</span>
                    </a>
            </li>
            <li>
                <a href="/mealPlanner">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>
                    <span>Meal Planner</span>
                    </a>
            </li>
    </nav>
    <main>
        <div class="search">
            <h1>Recipe Search</h1>
            <form action="/search" method="POST">
                <div class="searchbar">
                    <input type="text" class="searchbar__input" id="query" name="query" placeholder="Enter recipe, ingredient, etc.">
                    <button type="submit" class="searchbar__button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
                    </button>
                </div>
                <% 
                    const cuisineOptions = [
                        'American', 'Asian', 'British', 'Caribbean', 'Chinese', 
                        'French', 'Indian', 'Italian', 'Japanese', 
                        'Mediterranean', 'Mexican', 'Middle Eastern'
                    ];
    
                    const healthLabelOptions = [
                        'Vegan', 'Vegetarian', 'Gluten-Free', 'Dairy-Free', 
                        'Low Sugar', 'Keto-Friendly', 'Paleo', 'Pescatarian'
                    ];
    
                    function isSelected(array, value) {
                        return array && array.includes(value.toLowerCase().replace(' ', '-'));
                    }
                %>
                
    
                <div class="filter-dropdowns">
                    <div class="dropdown">
                        <button type="button" class="dropbtn">Cuisine</button>
                        <div class="dropdown-content">
                            <% cuisineOptions.forEach(cuisine => { %>
                                <label>
                                    <input type="checkbox" name="cuisine" 
                                        value="<%= cuisine.toLowerCase().replace(' ', '-') %>"
                                        <%= isSelected(selectedCuisines, cuisine) ? 'checked' : '' %>>
                                    <%= cuisine %>
                                </label>
                            <% }); %>
                        </div>
                    </div>
    
                    <div class="dropdown">
                        <button type="button" class="dropbtn">Health Labels</button>
                        <div class="dropdown-content">
                            <% healthLabelOptions.forEach(label => { %>
                                <label>
                                    <input type="checkbox" name="health" 
                                        value="<%= label.toLowerCase().replace(' ', '-') %>"
                                        <%= isSelected(selectedHealthLabels, label) ? 'checked' : '' %>>
                                    <%= label %>
                                </label>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="recipe-results">
            <h1>Recipe Search Results</h1>
    
        <div>
                <ul id="recipes" class="recipe-container" action="/favorite">
                    <% if (recipes && recipes.length > 0) { %>
                        <% recipes.forEach(recipe => { %>
                            <li class="recipe-item">
                                <a href="/results/recipe/?recipe=<%= recipe.recipe.uri.split('#')[1] %>">
                                    <h2><%= recipe.recipe.label %></h2>
                                    <img src="<%= recipe.recipe.image %>" alt="<%= recipe.recipe.label %>" width="200">
                                    <p>Calories: <%= Math.round(recipe.recipe.calories) %></p>
                                    <p>Cooking Time: 
                                        <% if (recipe.recipe.totalTime > 0) { 
                                            const hours = Math.floor(recipe.recipe.totalTime / 60); 
                                            const minutes = recipe.recipe.totalTime % 60;
                                            let cookTime = '';
                                            
                                            if (hours > 0) {
                                                cookTime += `${hours} hour${hours > 1 ? 's' : ''}`;
                                            }
                                            if (minutes > 0 || hours === 0) {  // Only show minutes if there's any or if there's no hour
                                                if (cookTime) cookTime += ' ';  // Add a space if there's already an hour part
                                                cookTime += `${minutes} minute${minutes !== 1 ? 's' : ''}`;
                                            }
                                    
                                            %>
                                            <%= cookTime %>
                                        <% } else { %>
                                            Not specified
                                        <% } %>
                                    </p>
                                    <p>Ingredients: <%= recipe.recipe.ingredients.length %></p>
                                </a>
                                <a 
                                    class="fav-button <%= recipe.isFavorited ? 'favorited' : '' %>"
                                    data-id="<%= recipe.recipe.uri.split('#')[1] %>"
                                    >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"></path>
                                    </svg>
                                </a>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <p>No recipes found.</p>
                    <% } %>
                </ul>
            </div>
            <div class="loadMoreContainer">
                <% if (recipes.length > 5 && nextPage) { %>
                    <button id="load-more" class="loadMoreBtn" onclick="loadMore('<%= nextPage ? `/nextPage?url=${encodeURIComponent(nextPage)}` : ',' %>')">Load More</button>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>
<script src="/app.js" defer></script>
<script src="/results.js"></script>
<script src="routes/recipeRoutes.js"></script>